*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section
{
    padding: 100px;
    min-height: 100vh;
}

.help
{
    position: relative;
    width: 100%;
    min-height: 100vh;
}

.help .image
{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 1000px;
}

.help .text
{
    position: absolute;
    top: 0;
    right: 0;
    color: #fda900;
    width: calc(100% - 1000px);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

.info
{
    position: relative;
    width: 100%;
    min-height: 100vh;
}

.info .image2
{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 870px;
}

.info .yeye
{
    position: absolute;
    top: 0;
    left: 0;
    color: #fda900;
    width: calc(100% - 1400px);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
    font-size: 30px;
}