body {
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: scroll; 
}

body::-webkit-scrollbar {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.help {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-image: url(Umirror.gif);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.help .text {
  color: #fda900;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 90px;
  text-align: center;
}

.help .text #slogan {
  font-size: 8vh;
}

.yeye
{
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.85);
}

.yeye .image{
  position: relative;
  width: 55%;
  height: 100vh;
}

.yeye .giftext h1{
  position: flex;
  color: #fda900;
  width: calc(100% - 1000px);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.yeye .giftext h4{
  position: flex;
  color: white;
  width: calc(100% - 1000px);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.yeye .image2{
  position: relative;
  width: 55%;
  height: 100vh;
}

.yeye .place h4{
  position: flex;
  color: #fda900;
  width: calc(100% - 1000px);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

/* Efeito typewriter */
/* 
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
} */

/* The typewriter cursor effect */
/* @keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
} */

.info {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.85);
}

.info h1{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px;
  font-size: 30px;
  color: white;
  background-color: #fda900;
  padding: 20px;
}

.info .cont h3{
  display: flex;
  align-items: left;
  color: #fda900;
  font-size: 25px;
  padding: 20px;
}

.info .cont h4{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px;
  font-size: 30px;
  color: white;
}
