* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.Nav {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin-top: auto;
    padding: 0.4rem;
    background: rgba( 0, 0, 0, 0.85 );
}

.toggle
{
    position: fixed;
    top: 9px;
    right: 20px;
    width: 45px;
    height: 45px;
    background: #fda900 url(./menu.png);
    background-size: 30px;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.toggle.active
{
    background: #000 url(./close.png);
    background-size: 25px;
    background-position: center;
    background-repeat: no-repeat;
}
